<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="wrapper">

      <div class="categories">
        <h3>Categories</h3>
        {% for i in categories %}
        <div>
          <a href='{{url_for('categoryItems', category_id = i.id, category=category ) }}'>  {{i.name}}</a>
        </div>
        {% endfor %}
      </div>

      <div class="items">
        <h3>Latest items</h3>
        {% for i in items %}
        <div>
          <p>{{i[0].name}} ({{i[1].name}})</p>
        </div>
        {% endfor %}
        <div>
        </div>
  </body>

</html>
