{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
  <nav class="col">
    <h3>Categories</h3>
    {% for i in categories %}
    <div>
      <a href='{{url_for('categoryItems', category_id = i.id, category=category ) }}'>  {{i.name}}</a>
    </div>
    {% endfor %}
  </nav>

  <section class="col">
    <h3>Latest items</h3>
    {% for i in items %}
    <div>
      <p>{{i[0].name}} ({{i[1].name}})</p>
    </div>
    {% endfor %}
    <div>
  </section>
  </div>

</div>
{% endblock %}
