{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
  <nav class="col">
    <h3>Categories</h3>
    {% for i in categories %}
    <div>
      <a href='{{url_for('categoryItems', category_id = i.id, category=category ) }}'>  {{i.name}}</a>
    </div>
    {% endfor %}
  </nav>

  <section class="col">
    <h3>Latest items</h3>
    {% for i in items %}
    <div>
      <a href='{{url_for('item', item_id = i[0].id, category_id = i[1].id) }}'>{{i[0].name}} ({{i[1].name}})</a>
    </div>
    {% endfor %}
    <div>
  </section>
  </div>

</div>
{% endblock %}
