<html>
  <body>
    <h1> New Item </h1>
    <form action="{{url_for('newitem', category_id=category_id )}}" method = 'POST'>
      <p>Name:</p>
      <input type='text' size='30' name='name'>
      <p>Description:</p>
      <input type='text' size='30' name='description'>
      <p>Category:</p>
      <select name="cata_select" >
        {% for c in categories %}
        <option value="{{c.id }}">{{ c.name }}</option>
        {% endfor %}
      </select>
      <p></p>
      <input type='submit' value='Create'>
    </form>
  </body>
</html>
